<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Welcome to example.com</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap-theme.min.css}" />
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script>
	$(function(){ //조회수 증가
		$('#btnList').on('click', function(){
			location.href="/list";	//목록으로		
		});
	});
</script>
</head>
<body>

<div class="container">
	<div class="row">
		<h1 style="text-align:center">게시글 읽기</h1>
		<table width="600" style="margin:auto" cellspacing="0" cellpadding="2">
	        <tr>
	            <td height="22"></td>
	        </tr>
	        <tr>
	            <td height="1" bgcolor="#1F4F8F"></td>
	        </tr>
	        <tr bgcolor="#DFEDFF">
	            <td bgcolor="#DFEDFF"> 
	                <div><strong id="title" th:text="${board.title}"></strong></div> 	                
	            </td>
	        </tr>
	        <tr bgcolor="#FFFFFF">
	            <td bgcolor="#F4F4F4">
	                <table width="100%" border="0" cellpadding="0" cellspacing="4" height="1">
	                    <tr bgcolor="#F4F4F4">
	                        <td width="13%" height="7"></td>
	                        <td width="51%" height="7">글쓴이 : <span id="username" th:text="${board.name}"></span>
	                        <span th:if="${board.email ne null}" th:text=" '(' + ${board.email} + ')' "></span>
	                        </td>
	                        
	                        <td width="25%" height="7">글번호  : </td>
	                        <td width="11%" height="7" th:text="${board.idx}"></td>
	                    </tr>
	                    <tr bgcolor="#F4F4F4">
	                        <td width="13%"></td>
	                        <td width="51%">작성일 : <span id='writeday' th:text="${#dates.format(board.writedate, 'yyyy-MM-dd')}"></span></td>
	                        <td width="25%">조회수 : <span id='readnum' th:text="${board.readcount}"></span></td>
	                        <td width="11%"></td>
	                    </tr>
	                    <tr bgcolor="#F4F4F4">
	                        <td width="13%"></td>
	                        <td width="51%" colspan="3">첨부파일 : 
	                        <span  th:if="${board.filename ne null}">
	                        	<a th:href="@{/download?filename={filename}(filename=${board.filename})}" 
	                        			th:text="${realFilename}"></a>&nbsp;
	                        		<img th:src="'/images/' + ${ext} + '.png'" style="width:25px; height:25px" />
	                      </span>
	                      <span th:if="${board.filename eq null}">&nbsp;</span>
	                        </td>
	                    </tr>
	                </table>
	            </td>
	        </tr>
	        <tr align="center">
	            <td bgcolor="#1F4F8F" height="1"></td>
	        </tr>
	        <tr>
	            <td style="padding:20 0 20 0">
	            	<br />
	                <span style="color:#333333" id='contents' th:utext="${board.contents}"></span>
	               <br />
	            </td>
	        </tr>
	       <tr align="center">
				<td class="button" height="1"></td>
			</tr>
			<tr align="center">
				<td bgcolor="#1F4F8F" height="1"></td>
			</tr>
		</table>
		<table width="600" style="margin:auto" border="0" cellpadding="0" cellspacing="5">
        <tr> 
            <td align="right" width="450">
            <div >
				  <button type="button" id="btnList" class="btn btn-default">목록으로</button>&nbsp;
				  <button type="button" class="btn btn-default">수정하기</button>&nbsp;
				  <button type="button" class="btn btn-default">삭제하기</button>&nbsp;
			</div>
            </td>
        </tr>
    </table>
	</div>
</div>
</body>
</html>

